.flex {
    display: flex;
    justify-content: var(--flex-justify-content);
    flex-direction: var(--flex-flex-direction);
    flex-grow: var(--flex-flex-grow);
    flex-basis: var(--flex-flex-basis);
    flex-shrink: var(--flex-flex-shrink);
    flex-wrap: var(--flex-flex-wrap);
    flex: var(--flex-flex);
    align-items: var(--flex-align-items);
    gap: var(--flex-gap);
    margin: var(--flex-margin);
    padding: var(--flex-padding);
    padding-inline: var(--flex-padding-inline);
    padding-top: var(--flex-padding-block);
    border-radius: var(--flex-border-radius);
    width: var(--flex-width);
    height: var(--flex-height);
    max-width: var(--flex-max-width);
    max-height: var(--flex-max-height);
}
  