.update-user {
    background-color: var(--color-grayscale-100);
    padding: var(--padding-700);
    border-radius: var(--border-radius-200);
    box-shadow: var(--box-shadow-sm);

    @include phone {
        width: calc(100vw - var(--padding-800));
    }
}