.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-500);

    &__header {
        color: var(--color-grayscale-200);
        font: var(--font-900);
    }
}