.backdrop {
    position: fixed;
    inset: 0;
    z-index: 100000;
    backdrop-filter: brightness(.6);
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: var(--color-grayscale-50);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: var(--padding-800);
    gap: var(--gap-800);
    overflow: hidden;
    border-radius: var(--border-radius-200);
    box-shadow: var(--box-shadow-md);
    min-width: 500px;

    &__close-button {
        color: var(--color-grayscale-500);
    }

    @media (max-width: 1024px) {
        min-width: unset;
        left: 50px;
        right: 50px;
        transform: translateY(-50%);
    }
}