.color-input {
    -webkit-appearance: none;
    appearance: none;
    width: auto;
    height: 100%;
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: var(--border-radius-round);
    border: 1px solid var(--color-grayscale-700);
    padding: 2px;
    outline: none;
    transition: background-color var(--transition-duration-short) ease-in-out, border-color var(--transition-duration-short) ease-in-out;

    &:hover {
        box-shadow: 0 0 0 3px rgba(87, 175, 219, 0.1);
    }

    &:active {
        box-shadow: 0 0 0 5px rgba(87, 175, 219, 0.2);
    }

    &:focus {
        box-shadow: 0 0 0 4px rgba(87, 175, 219, 0.2);
    }

    &::-moz-focus-inner {
        border: 0;
    }

    &::-webkit-color-swatch-wrapper {
        padding: 0;
        border-radius: var(--border-radius-round);
    }

    &::-webkit-color-swatch {
        border: none;
        border-radius: var(--border-radius-round);
    }
}
