.tab-pill {
    $self: &;

    background-color: var(--color-grayscale-400);
    box-shadow: var(--box-shadow-small);
    position: relative;

    &__indicator {
        position: absolute;
        width: calc(100% / var(--items-count));
        height: calc(100% - var(--padding-200));
        top: var(--padding-100);
        left: calc(var(--padding-100));
        transform: translateX((calc((100% - var(--padding-100)) * var(--active-item-index))));
        background-color: var(--color-grayscale-800);
        border-radius: var(--border-radius-500);
        transition: all var(--transition-duration-short) ease-in;
    }

    &__item,
    &__item-label {
        cursor: pointer;
    }

    &__item {
        $item: &;

        height: 100%;
        width: 100%;
        text-align: center;
        position: relative;
        z-index: 1;
        padding-block: var(--padding-300);
        border-radius: var(--border-radius-500);
        display: flex;
        align-items: center;
        justify-content: center;

        &--active {
            font-weight: var(--font-weight-500);
        }

        &:not(#{$item}--active) {
            &:hover {
                background-color: var(--color-grayscale-800);
            }
        }
    }

    &__item-label {
        transition: all var(--transition-duration-short) ease-in;
        color: var(--color-grayscale-50)
    }
}
