.basic-dropdown {
    border: 1px solid var(--color-grayscale-300);
    border-radius: var(--border-radius-100);
    padding: var(--padding-100) var(--padding-200);
    position: relative;
    background-color: var(--color-grayscale-50);
    box-shadow: var(--box-shadow-md);

    &--active,
    &:hover {
        background-color: var(--color-grayscale-100);
    }

    &__header {
        cursor: pointer;

        &__label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: var(--gap-200);
        }
    }

    &__body {
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 2px;
        width: 100%;
        border: 1px solid var(--color-grayscale-300);
        border-radius: var(--border-radius-100);
        z-index: 1; 
        overflow: hidden;
        box-shadow: var(--box-shadow-md);
    }

    &__list-item {
        padding: var(--padding-100) var(--padding-200);
        display: flex;
        flex-direction: column;
        background-color: var(--color-grayscale-50);

        &--active,
        &:hover {
            background-color: var(--color-grayscale-100);
        }
    }
}