.user-entry {
    &__form {
        display: grid;
        gap: var(--gap-3);
        grid-template-columns: repeat(2, 1fr);
    }

    @include phone {
        &__form {
            display: flex;
            flex-direction: column;
        }
    }
}