.loader {
    width: var(--loader-size);
    height: var(--loader-size);
    border: 3px solid var(--loader-color);
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite, fade 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
