.text-input {
    border-radius: var(--border-radius-100);
    border: none;
    background-color: var(--color-grayscale-50);
    outline: none;
    color: var(--color-grayscale-700);
    font: var(--font-200);
    box-shadow: 0 0 0 1.5px rgba(87, 175, 219, 0.1);
    padding: var(--padding-300);
    transition: box-shadow var(--transition-duration-short) ease-in;

    &::placeholder {
        color: var(--color-grayscale-500);
    }

    &:hover {
        box-shadow: 0 0 0 2px rgba(87, 175, 219, 0.1);
    }

    &:active {
        box-shadow: 0 0 0 2px rgba(87, 175, 219, 0.2);
    }

    &:focus {
        box-shadow: 0 0 0 2px rgba(87, 175, 219, 0.2);
    }
}